.content1-container {
  position: absolute;
  width: 396px;
  height: 291px;
  left: 58px;
  top: 429px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 78px;
  text-align: center;
  color: #000000;
}

.content1-message {
  position: absolute;
  width: 384px;
  height: 529px;
  left: 55px;
  top: 770px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #2e2525;
}

.content2-container {
  position: absolute;
  width: 285px;
  height: 244px;
  left: 532px;
  top: 441px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 78px;
  text-align: center;
  color: #000000;
}

.content2-message {
  position: absolute;
  width: 362px;
  height: 552px;
  left: 492px;
  top: 770px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #2e2525;
}

.content3-container {
  position: absolute;
  width: 433px;
  height: 411px;
  left: 897px;
  top: 441px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 57px;
  line-height: 78px;
  text-align: center;
  color: #000000;
}

.content3-message {
  position: absolute;
  width: 338px;
  height: 401px;
  left: 947px;
  top: 771px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #2e2525;
}

.content4-container {
  position: absolute;
  width: 340px;
  height: 291px;
  left: 1382px;
  top: 441px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 78px;
  text-align: center;
  color: #000000;
}

.content4-message {
  position: absolute;
  width: 371px;
  height: 529px;
  left: 1345px;
  top: 770px;

  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.08em;

  color: #2e2525;
}

.pic1 {
  position: absolute;
  width: 348px;
  height: 233px;
  left: 58px;
  top: 110px;
}

.pic2 {
  position: absolute;
  width: 348px;
  height: 233px;
  left: 497px;
  top: 110px;
}

.pic3 {
  position: absolute;
  width: 348px;
  height: 233px;
  left: 955px;
  top: 110px;
}

.pic4 {
  position: absolute;
  width: 348px;
  height: 233px;
  left: 1382px;
  top: 110px;
}
